@import url("https://fonts.googleapis.com/css?family=Raleway");

html, body {
    margin:0;
    padding:0;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    box-sizing: border-box
}

.logo{
  margin-top: 5px; 
  margin-left: 60px;
  z-index: 10;
  position: absolute;
}
.topnav {
    background-color: #F8F4E9;
    overflow: hidden;
    height: 60px;
    top: 0;
    width: 100%;
    z-index:1;
    height: 60px;
    color: #6b6b6b;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
  .topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 18px;
    position: relative;

  }

  .topnav a:before {
    content: "";
    position: absolute;
    width: 84%;
    height: 2px;
    bottom: 3px;
    left: 8%;
    background-color:black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

 .topnav a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
.topnav a.active-menu:before {
    content: "";
    position: absolute;
    width: 84%;
    height: 2px;
    bottom: 3px;
    left: 8%;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out 0s; 
}

.dropdown{
  float: right;
  overflow: hidden;
  cursor:pointer;
}
.dropdown .dropbtn {
  font-size: 18px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  height:60px;
  cursor:pointer;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #9e9185;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  opacity:0.7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align-last:center;
  cursor:pointer;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* top homepage */

.Homepage{
    height: 100vh;
    width: 100%;
   
}

.content{
    min-height: 900px;
    padding: 150px 9vw;
    background-image: url('display\ doggies.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    max-width: 100%;
    
}

.main{
  height:100vh;
  width:100%;  
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.h1c{
  text-align:center;
  text-transform: uppercase;
  color: #fcf6e0; 
  font-size: 5rem;
}

.roller{
  height: 5rem;
  line-height: 5rem;
  position: relative;
  overflow: hidden; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #04355a;
}


#spare-time{
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #A8DADC;
  
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;  
}

@keyframes slide {
  0%{
    top:0;
  }
  25%{
    top: -4rem;    
  }
  50%{
    top: -8rem;
  }
  72.5%{
    top: -12.25rem;
  }
}

@media screen and (max-width: 600px){
  h1{
  text-align:center;
  text-transform: uppercase;
  color: #F1FAEE; 
  font-size: 2.125rem;
}
  
  .roller{
  height: 2.6rem; 
  line-height: 7rem;  
  }
  
  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  
  .roller #rolltext {  
  animation: slide-mob 5s infinite;  
}
  
  @keyframes slide-mob {
  0%{
    top:0;
  }
  25%{
    top: -2.125rem;    
  }
  50%{
    top: -4.25rem;
  }
  72.5%{
    top: -6.375rem;
  }
}
}

h1{
    color: #FEFCF3;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: #FEFCF3;
    font-size: 20px;
    margin-bottom: 50px;
  
}
h4{
    color: #FEFCF3;
    letter-spacing: 2px;
    font-size: 25px;
}

/* about us */

.dbg{
  background-color: blanchedalmond;
  width:100%;
  min-height: 200px;
  padding: 50px 3vw;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  max-width: 100%;
  text-transform:uppercase;
  text-align:center;
}

.dbg-text h1{
  color:#362c23;
  text-align:center;
  font-size:50px;
  margin-bottom:15px;
}

.button0{
  background-color: rgb(107, 75, 37);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin:9px;
}
.button0:hover{ background-color: blanchedalmond;
  border: 1px solid rgb(117, 55, 39);
  color: black;
}

.bgc{
  width: 100%;
  padding:100px 0px;
}

.bgc img {
  height:auto;
  width: 430px;
  border-radius: 10px;
}
.box1{
  width:1130px;
  max-width: 95%;
  margin:0 auto;
  display:flex;
  align-items:center;
  justify-content:space-around;
}
.mission{
  width:550px;
  margin-right:30px;
}
.mission h1{
  font-size:30px;
  color:#362c23;
  padding-top:0px;
  position:relative;
  text-align: center;
  text-align:justify;
}
.mission h2{
  font-size: 32px;
  color: #a36c48;
  letter-spacing: 2px;
  margin-bottom: 20px;
  padding-top:10px;
  text-transform:uppercase;
  line-height:20px;
}

.mission h1 p{
  text-align:center;
}
.mission p{ 
  line-height:30px;
  margin-bottom:20px;
  font-size:18px;
}

.ibutton{
  background-color: rgb(107, 75, 37);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin:9px;
}
.ibutton:hover{ background-color: blanchedalmond;
  border: 1px solid rgb(117, 55, 39);
  color: black;
}

/* advocacies */


.bgc2{
  background-image: url(dogbg2.jpg);
  padding: 150px 9vw;
  width: 100%;
  min-height: 900px;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  max-width: 100%;
}

.bgc2 h2{
  font-family:'poppins';
  font-size:120px;
  margin-left:-10px;
  color:transparent;
  -webkit-text-stroke:1px blanchedalmond;
  text-align:center;
  text-transform:uppercase;
  background:url(back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100%{
    background-position: 2000px 0;
  }
}

.box2{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:400px;
  margin-top: 70px;
}
.card2{
  height:365px;
  width:335px;
  padding:20px 35px;
  background: #F9F7EE;
  border-radius: 20px;
  margin: 15px;
  position:relative; 
  overflow:hidden;
  text-align:center;
  border: none;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  transition:1s;
}
.card2:hover{
  transform:scale(1.3);
  z-index:1;
}
.card2 h5{
  font-size:20px;
  margin-bottom: 15px;
  margin-top:25px;
}
.card2 i{
  font-size:50px;
  display:block;
  text-align: center;
  margin:25px 0 px;
  color:#362c23;
}

.button2{
  background-color: #634d43;
  border: none;
  color: blanchedalmond;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
}
.button2:hover{ background-color: #ccb4a8;
  border-color: solid #7c6b5d;
  color: blanchedalmond;
}
.pr p{
  font-size:16px;
  line-height:30px;
  margin-bottom:25px;
  text-align:justify;
  margin-left: 15px;
  margin-right:15px;
}


.dbg2{
    width: 100%;
    height:1400px;
    margin-bottom:160px;
  }
  
  .dbg2-text{
    width:100%;
    min-height: 200px;
    padding: 50px 3vw;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    max-width: 100%;
    text-align:center;
    background-color: transparent;
    margin-top:55px;
  }
  
  .dbg2-text h1{
    color:#362c23;
    text-align:center;
    font-size:92px;
    margin-bottom:15px;
  }
  
  
  .box4{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:400px;
    margin-top: 5px;
    flex-wrap:wrap;
    margin-bottom:20px;
  }
  .card4-1{
    height:470px;
    width:335px;
    padding:20px 35px;
    background-image: url('P1.png');
    background-position: center;
    border-radius: 20px;
    margin: 15px;
    position:relative; 
    overflow:hidden;
    text-align:center;
    border: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    transition:1s;
  }
  .card4-1:hover{
    transform:scale(1.3);
    z-index:1;
  }
  
  .card4-2{
    height:470px;
    width:335px;
    padding:20px 35px;
    background-image: url('P5.png');
    background-position: center;
    border-radius: 20px;
    margin: 15px;
    position:relative; 
    overflow:hidden;
    text-align:center;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    transition:1s;
  }
  
  .card4-2:hover{
    transform:scale(1.3);
    z-index:1;
  }
  
  .card4-3{
    height:470px;
    width:335px;
    padding:20px 35px;
    background-image: url('P4.png');
    background-position: center;
    border-radius: 20px;
    margin: 15px;
    position:relative; 
    overflow:hidden;
    text-align:center;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    transition:1s;
  }
  
  .card4-3:hover{
    transform:scale(1.3);
    z-index:1;
  }
  
  .card4-4{
    height:470px;
    width:335px;
    padding:20px 35px;
    background-image: url('P6.png');
    background-position: center;
    border-radius: 20px;
    margin: 15px;
    position:relative; 
    overflow:hidden;
    text-align:center;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    transition:1s;
  }
  
  .card4-4:hover{
    transform:scale(1.3);
    z-index:1;
  }
  
  .card4-5{
    height:470px;
    width:335px;
    padding:20px 35px;
    background-image: url('P3.png');
    background-position: center;
    border-radius: 20px;
    margin: 15px;
    position:relative; 
    overflow:hidden;
    text-align:center;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    transition:1s;
  }
  
  .card4-5:hover{
    transform:scale(1.3);
    z-index:1;
  }
  
  .card4-6{
    height:470px;
    width:335px;
    padding:20px 35px;
    background-image: url('P7.png');
    background-position: center;
    border-radius: 20px;
    margin: 15px;
    position:relative; 
    overflow:hidden;
    text-align:center;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    transition:1s;
  }
  
  .card4-6:hover{
    transform:scale(1.3);
    z-index:1;
  }
  
  .dbg4-text h3{
    font-size: 26px;
    color:#504338;
    width: 100%;
    margin: none;
    justify-content: center;
    text-align:center;
    margin-top:90px;
    letter-spacing: 2px;
  
  }
  
  
  
  .dbg3{
    width: 100%;
    height: 500px;
    background-color:#362c23;
    max-width:100%;
    background-size: cover;
  }
  
  .dbg3text{
    color:white;
    display:inline-block;
    margin-top:90px;
  }
  
  .dbg3t{
    text-align: center;
    margin-bottom:15px;
    color:#e5e7e6;
    font-size: 45px;
  }
  .dbg3-text p{
    font-size: 20px;
    color:#a8a5a2;
    width: 100%;
    margin: none;
    display: inline-flex;
    justify-content: center;
    text-align:center;
  }
  
  .about-us-footer{
    text-align: left;
    width:300px;
    color:white;
    margin-top:50px;
    padding-left:50px;
    font-size:15px;
  }
  
  
  .box5{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:200px;
    margin-top: 20px;
  }
  
  .card5{
    height:265px;
    width:450px;
    padding:20px 35px;
    margin: 15px;
    position:relative; 
    overflow:hidden;
    text-align:center;
    transition:1s;
  }
  .card5 h1{
    font-size:30px;
  }
  .card5 p{
    color:#F8F4E9;
  }
  
  
.dbg3{
    width: 100%;
    height: 500px;
    background-color:#362c23;
    max-width:100%;
    background-size: cover;
  }
  
  .dbg3text{
    color:white;
    display:inline-block;
    margin-top:90px;
  }
  
  .dbg3t{
    text-align: center;
    margin-bottom:15px;
    color:#e5e7e6;
    font-size: 45px;
  }
  .dbg3-text p{
    font-size: 20px;
    color:#a8a5a2;
    width: 100%;
    margin: none;
    display: inline-flex;
    justify-content: center;
    text-align:center;
  }
  
  .about-us-footer{
    text-align: left;
    width:300px;
    color:white;
    margin-top:50px;
    padding-left:50px;
    font-size:15px;
  }
  
  
  .box5{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:200px;
    margin-top: 20px;
  }
  
  .card5{
    height:265px;
    width:450px;
    padding:20px 35px;
    margin: 15px;
    position:relative; 
    overflow:hidden;
    text-align:center;
    transition:1s;
  }
  .card5 h1{
    font-size:30px;
  }
  .card5 p{
    color:#F8F4E9;
  }
  
  
  
  .about-us-footer h1{
    text-align: center;
    font-size:15px;
    color:white;
  }
  
  .yup {
    text-align:justify;
  }
  
  .quick-links{
    text-align: left;
    width:300px;
    color:white;
    margin-top:50px;
    padding-left:500px;
    font-size:15px;
  }
  .quick-links h1{
    text-align: center;
    font-size:15px;
    color:white;
  }
  
  .icons{
    display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      color:white;
      text-align: center;
      margin-left:580px;
  }
  
  .icons a{
    padding: 10px 12px;
          border-radius: 3px;
          font-size: 20px;
          color: white;
          display: inline-block;
          margin-bottom: 10px;
  }
  .icons a:hover{
    opacity: 0.8;
  }